[submodule "expense-manager-frontend"]
	path = expense-manager-frontend
	url = https://github.com/Project-MRP/expense-manager-frontend.git
[submodule "expense-manager-backend-crud"]
	path = expense-manager-backend-crud
	url = https://github.com/Project-MRP/expense-manager-backend-crud.git
[submodule "expense-manager-backend-parser"]
	path = expense-manager-backend-parser
	url = https://github.com/Project-MRP/expense-manager-backend-parser.git
