[submodule "finance-tracker-app"]
	path = finance-tracker-app
	url = https://github.com/Project-MRP/finance-tracker-app.git
[submodule "finance-tracker-api"]
	path = finance-tracker-api
	url = https://github.com/Project-MRP/finance-tracker-api.git
[submodule "finance-tracker-importer"]
	path = finance-tracker-importer
	url = https://github.com/Project-MRP/finance-tracker-importer.git